<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
      <li>
        <%= post.title %>
        <%= post.text %>
        <%= link_to 'Show', :controller => 'posts', :action => 'show', :id => post %>
        <%= link_to 'Edit', :controller => 'posts', :action => 'edit', :id => post %>
        <%= link_to 'Delete', :controller => 'posts', :action => 'destroy', :id => post %>
      </li>
  <% end %>
</table>

<%= link_to 'New post', new_post_path %>